body {
    background-color: #d5dad7;
}

ul {
    list-style-type: none;
    padding: 0;
}

.my_green-bg{
    height: 15vh;
    width: 100%;
    background-color: #239586;
}

.my_boolzapp-section{
    height: 95vh;
    width: 70vw;
    background-color: crimson;
}


/* ## LEFT SIDE CLASSES ## */

.my_left-side{
    background-color: #fffeff;
}

.my_alerts-section{
    height: 80px;
    background-color: #93d9fa;
}

.my_alert-text{
    line-height: 5px;
}

.my_search-section{
    height: 50px;
    background-color: #f9f9fa;
}

.my_search-icon{
    height: 30px;
    background-color: white;
    border: 1px solid #dbdbdb;
}

.my_search-section input {
    height: 30px;
    width: 465px;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-start-end-radius: 3px;
    border-end-end-radius: 3px;
    outline: none;
}

.my_contact-box{
    border-top: 1px solid #e8eaea;
}

.my_contacts-section{
    height: 100%;
    overflow-y: scroll;
}

.my_contacts-section ul li.active{
    background-color: #e8eaea;
}



/* ## RIGHT SIDE CLASSES ## */  

.my_right-side{
    background-color: sandybrown;
}

.my_current-chat,
.my_user-section{
    height: 60px;
    background-color: #e9e9e9;
}

.my_current-chat{
    border-left: 1px solid #afafaf;
}

.my_current-info{
    line-height: 5px;
    padding-left: 20px;
    padding-top: 10px;
}

.my_form-section {
    height: 60px;
    background-color: #f2edea;
}

.my_form-section input{
    height: 40px;
    width: 900px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.my_chat-bg{
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
    overflow-y: scroll;
}

.my_right-side,
.my_left-side{
    height: 95vh;
}

.my_user-img img,
.my_contact-img img,
.my_current-img img{
    height: 45px;
    border-radius: 50%;
    object-fit: contain;
}

.my_alert-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
    color: #93d9fa;
    text-align: center;
}

.my_alert-icon i{
    padding-top: 9px;
}

.my_user-message-box{
    width: 350px;
    background-color: #d3f9ba;
    border: 1px solid transparent;
    border-radius: 10px;
    clear: both;
    float: right;

}

.my_contact-message-box {
    width: 350px;
    background-color: #fffeff;
    border: 1px solid transparent;
    border-radius: 10px;
    clear: both;
    float: left;
}

.my_msg{
    padding: 0;
    margin: 0;
    line-height: 15px;
    font-size: 0.9em;
}

.my_current-contact{
    margin: 0;
    padding-bottom: 12px;
}

.my_chat-text{
    line-height: 0.4em;
    margin: 0;
    padding: 0;
}


/* ## GENERAL CLASSES ## */

.my_grey{
    color: #6b7275;
}

.my_light-grey{
    color: #adadad;
}

.my_reference {
    font-size: 0.8em;
}

.my_msg-reference {
    font-size: 0.7em;
}

.my_contacts-reference {
    font-size: 0.8em;
}

.my_arrow-line{
    line-height: 0.1em;
}